[Desktop Entry]
Version=1.0
Type=Application
Name=Citrix Workspace
Comment=Citrix Workspace - Launch ICA files
StartupWMClass=Wfica
NoDisplay=false
MimeType=application/x-ica;
Categories=Network;RemoteAccess;
Icon=/opt/Citrix/ICAClient/icons/manager.png
Exec=/opt/Citrix/ICAClient/wfica.sh %f
Terminal=false
